@import "tailwindcss";
@theme {
  --breakpoint-xs: 425px;
  --breakpoint-s:500px;
  --breakpoint-md-lg:1000px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0B0E12;
}

* {
  box-sizing: border-box;
}
.TodoFilterButton{
	display:flex ;
  flex-direction: column;
  align-items: center;
  align-self: center;
  cursor: pointer;
  color: white;
  
}
.allh:hover{
  color:#C46B2D;
}
.all{
color:#C46B2D;
}
.allf:focus{
  color:#C46B2D;
  outline: none;
  transition: color 0.2s ease;
}

.active:hover{
  color:#8759a4
}
.active:focus{
  color: #8a40b8;
  outline: none;
  transition:color 0.2s ease ;
}
.completed:hover{
  color:#83e666
}
.completed:focus{
  color: #83e666;
  outline: none;
  transition:color 0.2s ease ;
}