@import "tailwindcss";
@theme {
	--breakpoint-xs: 425px;
	--breakpoint-s: 600px;
	--breakpoint-md-lg: 1000px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	margin: 0;
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: #0b0e12;
}

.TodoFilterButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	cursor: pointer;
	color: white;
}
.allh:hover {
	color: #c46b2d;
}
.all {
	color: #c46b2d;
}
.allf:focus {
	color: #c46b2d;
	outline: none;
	transition: color 0.2s ease;
}

.active:hover {
	color: #8759a4;
}
.active:focus {
	color: #8a40b8;
	outline: none;
	transition: color 0.2s ease;
}
.completed:hover {
	color: #83e666;
}
.completed:focus {
	color: #83e666;
	outline: none;
	transition: color 0.2s ease;
}
